{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is the homepage</h1>
      <p>this is a paragraph</p>
    </div>
  </div>
</div>
{{ end }}
